.b-small-plus {
	background-image: url(../images/icons/plus-button.gif) !important;
}
.b-small-pencil {
	background-image: url(../images/icons/pencil.gif) !important;
}
.b-small-minus {
	background-image: url(../images/icons/minus-button.gif) !important;
}
.b-small-save {
	background-image: url(../images/icons/save.jpg) !important;
}
.b-small-copy {
	background-image: url(../images/icons/copy.png) !important;
}
.b-small-bin {
	background-image: url(../images/icons/bin.gif) !important;
}
