.b-small-plus {
	background-image: url(../images/icons/plus-button.gif) !important;
}
.b-small-pencil {
	background-image: url(../images/icons/pencil.gif) !important;
}
.b-small-minus {
	background-image: url(../images/icons/minus-button.gif) !important;
}
.b-small-save {
	background-image: url(../images/icons/save.jpg) !important;
}
.b-small-copy {
	background-image: url(../images/icons/copy.png) !important;
}
.b-small-bin {
	background-image: url(../images/icons/bin.gif) !important;
}
.b-small-detail {
	background-image: url(../images/icons/detail.png) !important;
}
.b-small-print {
	background-image: url(../images/icons/print.png) !important;
}
.b-small-excel {
	background-image: url(../images/icons/excel.png) !important;
}
.b-small-pdf {
	background-image: url(../images/icons/pdf.png) !important;
}
.b-small-import {
	background-image: url(../images/icons/import.png) !important;
}
.b-small-export {
	background-image: url(../images/icons/export.png) !important;
}
.b-small-search {
	background-image: url(../images/icons/magnifier-left.gif) !important;
}
.b-small-cross {
	background-image: url(../images/icons/cross.png) !important;
}

/* grid style */
.grid-disable .x-mask-msg-text { background-image:none; padding:5px; }
.red-bg-row td { background-color:#ffeeee !important; }
